.DS_Store
.vscode
*.whl
*.tar.gz
build/
*.egg-info
.ipynb_checkpoints

__pycache__

# Build folder.
w266

# Temporary data folder.
w266_project/data

# Model weights are too large for git.
w266_project/models/artifacts/*
!w266_project/models/artifacts/__init__.py